<%= f.label :title, "Title" %>
<%= f.text_field :title %>
<%= f.label :author, "Author" %>
<%= f.text_field :author %>
<%= f.label :genre, "Genre" %>
<%= f.text_field :genre %>
<%= f.label :description, "Description" %>
<%= f.text_area :description %>

<% if @book.errors.any? %>
	<ul>
	<% @book.errors.full_meesages.each do |msg| %>
		<li><%= msg %></li>
	<% end %>
	</ul>
<% end %>


